.loading-wrap {
	margin-top: 50px;
}


.Details {
	color: #24292e;
	margin: auto;
	max-width: 980px;
	padding: 20px;
}
.Details .back-button {
	background-color: transparent;
	border: none;
	color: #0366d6;
	cursor: pointer;
	font-size: 14px;
}
.Details .back-button:before {
	content: '←';
	margin-right: 3px;
}
.Details .back-button:hover {
	text-decoration: underline;
}
.Details pre {
	background-color: #f6f8fa;
	font-size: 85%;
	margin: 16px 0 0;
	overflow-x: auto;
	padding: 16px;
}
.Details code {
	background-color: #f3f3f3;
	font-size: 85%;
	padding: 0.2em 0.4em;
}

.Details pre code {
	background-color: transparent;
	font-size: 100%;
}


.Details-header-heading {
	font-size: 32px;
	font-weight: 300;
	margin: 10px 0;
}
.Details-header-number {
	color: #c1c9d2;
	font-weight: 100;
	letter-spacing: -1px;
}


.Details-descr {
	align-items: center;
	border-bottom: 1px solid #e6ebf1;
	display: flex;
	margin-bottom: 15px;
	margin-top: 8px;
	padding-bottom: 20px;
}
.Details-descr-state {
	background-color: #2cbe4e;
	border-radius: 3px;
	color: #fff;
	display: flex;
	flex-flow: row wrap;
	font-size: 14px;
	margin-right: 8px;
	min-width: 52px;
	padding: 4px 8px;
	width: auto;
}
.Details-descr-state-img {
	height: 16px;
	margin-right: 3px;
	width: 14px;
}
.Details-descr-info,
.Details-body-content-header {
	color: #586069;
	font-size: 14px;
}
.Details-descr-info-author,
.Details-descr-content-header-author {
	color: inherit;
	font-weight: 600;
	text-decoration: none;
}
.Details-descr-info-author:hover,
.Details-descr-content-header-author:hover {
	text-decoration: underline;
}


.Details-body {
	display: flex;
	margin: 20px 0;
	max-width: 760px;
	position: relative;
}
.Details > .Details-body:before {
	border-left: 2px solid #e6ebf1;
	content: '';
	height: 16px;
	left: 80px;
	position: absolute;
	top: -18px;
	width: 0;
}
.Details-body-avatar {
	display: none;
}
.Details-body-avatar-link {
	display: inline-block;
	height: 44px;
	width: 44px;
}
.Details-body-avatar-link-img {
	border-radius: 3px;
	position: relative;
	z-index: -1;
}
.Details-body-content {
	border: 1px solid #d1d5da;
	border-radius: 3px;
	overflow: hidden;
	width: 100%;
}
.Details-body-content-header {
	background-color: #f6f8fa;
	border-radius: 3px 3px 0 0;
	border-bottom: 1px solid #d1d5da;
	padding: 13px 15px;
}
.Details-body-content-text {
	box-sizing: border-box;
	font-size: 14px;
	padding: 15px;
	width: 100%;
}
.Details-body-content-text-par,
.Details-body-content-text-par_no-descr {
	margin: 0;
	overflow: auto;
	padding: 0;
}
.Details-body-content-text-par_no-descr {
	font-style: italic;
}
.Details-body-content-text-par p {
	line-height: 1.5;
	margin: 16px 0;
}
.Details-body-content-text-par a,
.Details-moreInfo-link {
	color: #0366d6;
	text-decoration: none;
}
.Details-body-content-text-par a.user-mention {
	color: #24292e;
	font-weight: 600;
}


.Details-body-content-text-par a:hover,
.Details-moreInfo-link:hover {
	text-decoration: underline;
}
.Details-body-content-text-par p:nth-of-type(1) {
	margin-top: 0;
}


.Details-moreInfo {
	margin: 30px 0;
	text-align: center;
}
.Details-moreInfo-link:after {
	content: '→';
	margin-left: 3px;
}


@media all and (min-width: 480px) {
	.Details-body-avatar {
		display: block;
	}
	.Details-body-content {
		margin-left: 16px;
	}
}