.Autocomplete {
  background-color: #fff;
  position: absolute;
  z-index: 1;
}
.Autocomplete-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 247px;
}
.Autocomplete-list__item {
  box-sizing: border-box;
  font-size: 14px;
  margin-top: -1px;
  z-index: 1;
}
.Autocomplete-list__item a {
  border: 1px solid #d1d5da;
  color: #586069;
  display: block;
  padding: 7px 0 7px 30px;
  text-decoration: none;
}
.Autocomplete-list__item a:hover {
  background-color: #edeef3;
}
.Autocomplete-list__item.active a {
  background-color: #1e90ff;
  color: #fff;
}

@media all and (min-width: 480px) {
  .Autocomplete-list {
    width: 320px;
  }
}