.SearchButton {
  background-color: #eff3f6;
  background-image: linear-gradient(-180deg, #fafbfc 0%, #eff3f6 90%);
  border: 1px solid #c4c9cc;
  border-radius: 0 3px 3px 0;
  
  cursor: pointer;
  font-size: 14px;
  font-family: inherit;
  font-weight: 600;
  height: 33px;
  line-height: 31px;
  margin-left: -1px;
  padding: 0;
  position: relative;
  vertical-align: top;
  width: 70px;
}

.SearchButton:hover {
  background-color: #e6ebf1;
  background-image: linear-gradient(-180deg, #f0f3f6 0%, #e6ebf1 90%);
}
.SearchButton:active {
  background-color: #e9ecef;
  background-image: none;
  box-shadow: inset 0 0.15em 0.3em rgba(27,31,35,0.15);
}

.SearchButton:hover,
.SearchButton:active {
  border-color: #a2a6ab;
  z-index: 2;
}

.SearchButton a {
  color: #444d56;
  display: inline-block;
  height: 100%;
  text-decoration: none;
  width: 100%;
}