.Autocomplete {
  background-color: #fff;
  position: absolute;
  z-index: 1;
}
.Autocomplete-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.Autocomplete-list__item {
  border: 1px solid #d1d5da;
  color: #586069;
  cursor: pointer;
  font-size: 14px;
  margin-top: -1px;
  padding: 7px 0 7px 30px;
  width: 180px;
  z-index: 1;
}
.Autocomplete-list__item:hover {
  background-color: #edeef3;
}
.Autocomplete-list__item.active {
  background-color: #1e90ff;
  color: #fff;
}

@media all and (min-width: 480px) {
  .Autocomplete-list__item {
    width: 320px;
  }
}