body {
	font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  
}
.Issues {
  text-align: left;
}

.Issues *:focus {
  outline: none;
}

.Issues-wrap {
	margin: auto;
	max-width: 980px;
	padding: 20px;
}

.Issues-search-heading {
	font-size: 20px;
	margin: 0 0 50px;
	text-align: center;
}
