.SearchField__label {
  color: #24292e;
  font-family: inherit;
  font-size: 14px;
  font-weight: 600;
  position: relative;
}

.SearchField-content {
  margin-top: 10px;
  position: relative;
}
.SearchField-content__img {
  height: 16px;
  left: 8px;
  position: absolute;
  top: 9px;
  width: 16px;
  z-index: 3;
}